{{slide-nav}}
<div align="center">
  <h1>Dashboard</h1>
  <div class="links">
  <style type="text/css">
    a:link{ text-decoration:none; background:#d3d3d3; color:black; font-size:170%; width:200px;}
  </style>
    {{#link-to 'dashboard'}}
      Recent Activity
    {{/link-to}}
    <br />
    {{#link-to 'dashboard'}}
      My Car
    {{/link-to}}
    <br />
    {{#link-to 'mechanic'}}
      Mechanic Page
    {{/link-to}}
    <br />
    {{#link-to 'diagnostic-pages.begin-page'}}
      Diagnostic Report
    {{/link-to}}
    <br />
    {{#link-to 'dashboard'}}
      Chatbot
    {{/link-to}}
    <br />
    <button {{action "signOut"}}>Sign Out</button>
    <br />
    {{#each model as |account|}}
      <div>
        <p>{{account.username}}</p>
      </div>
      <div>
        <p>{{account.email}}</p>
      </div>
      <div>

      </div>
    {{/each}}
  </div>
</div>
