{{slide-nav}}
<style>
  a:link {
    text-decoration: none;
    /*background: #d3d3d3;*/
    color: black;
    font-size: 170%;
    width: 200px;
  }
</style>
<div align="center">
  <h1>Dashboard</h1>
  <div class="links">
    {{#link-to 'dashboard'}}
      <del>Recent Activity</del>
    {{/link-to}}
    <br/>
    {{#link-to 'dashboard'}}
      <del>My Car</del>
    {{/link-to}}
    <br/>
    {{#link-to 'mechanic'}}
        Mechanic Page
    {{/link-to}}
    <br/>
    {{#link-to 'diagnostic-pages.begin-page'}}
      Diagnostic Report
    {{/link-to}}
    <br/>
    {{#link-to 'chat'}}
      Chat
    {{/link-to}}
    <br/>
    <button {{action "signOut"}}>Sign Out</button>
    <br />
    {{#each model as |account|}}
      <div>
        <p>{{account.username}}</p>
      </div>
      <div>
        <p>{{account.email}}</p>
      </div>
    {{/each}}
  </div>
</div>
