{{slide-nav signOut="signOut"}}
{{back-button goBack="goBack"}}
<div class="backButton">
<style>
p.padding {
    padding-left: 5mm;
}
</style>
  <div align="left">
    <a {{action 'goBack'}}>
      <p class="padding"><img src="/assets/images/BackArrow.png" alt=""
        style="width:10px;height:17px;"></p>
    </a>
  </div>
</div>
<h1>Mechanic</h1>
