<div class="backButton">
<style>
p.padding {
    padding-left: 5mm;
}
</style>
  <div align="left">
    <a {{action 'goBack'}}>
      <p class="padding"><img src="/assets/images/BackArrow.png" alt=""
        style="width:10px;height:17px;"></p>
    </a>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="jumbo">
    <div class="links">
	<div align="center">
      {{#link-to 'register'}}
	  <style type="text/css">
	  a:link{ text-decoration:none; background:#d3d3d3; color:black; font-size:170%; width:300px;}
	  </style>
	  <body>
	  <a href="#">I am a car owner</a> <br/>
	  </body>
      {{/link-to}}
	  {{#link-to 'register'}}
	  <style type="text/css">
	  a:link{ text-decoration:none; background:#d3d3d3; color:black; font-size:170%, width:300px}
	  </style>
	  <body>
	  <a href="#">I am a car mechanic</a> <br/>
	  </body>
      {{/link-to}}
	  <br />
    </div>
	</div>
</div>
