<div class="body" style="width:290px;hieght:150px;">
{{gatekeeper-sign-in-vertical signInComplete=(action "signInComplete")}}
<div class="container">
  <p> Don't have an account yet?
    {{#link-to "signup" class="button"}}
      Sign Up.
    {{/link-to}}
  </p>
  </div>
</div>
